{{ if eq .chezmoi.osRelease.id "arch" -}}
    #!/bin/sh
    sudo pacman -S --needed - < $HOME/arch_packages/pkglist.txt
    yay -S --needed --noconfirm - < $HOME/arch_packages/aurpkglist.txt
{{ end -}}
